# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# Environment variables
# =========================
.env

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Operating system files
# =========================
.DS_Store
Thumbs.db

# =========================
# Outputs
# =========================
outputs/

data/outputs/*
!data/outputs/.gitkeep

# =========================
# Temporary files
# =========================
temp/
logs/

# =========================
# PDFs
# =========================
*.pdf

# =========================
# HuggingFace / cache
# =========================
.cache/
huggingface/
hf_cache/

# =========================
# Torch models
# =========================
*.pt
*.pth

# =========================
# OCR cache
# =========================
paddleocr/

# =========================
# Images generated
# =========================
*.png
*.jpg
*.jpeg

# =========================
# CSVs temporales
# =========================
*.csv.env 
